* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.listDecoration {
  list-style: none;
  margin-left: -32px;
}

.circleImgs {
  border-radius: 100%;
}

.iconsHome {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.grow1 {
  flex-grow: 1;
}

.allContent {
  display: flex;
}

.allHightScreen {
  height: 100vh;
}

.flexRowAlign {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.flexColumunAlign {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  text-align: center;
}

.navegation {
  position: fixed;
  left: 0;
  background-color:tomato;
  width: 287px;
  height: 100vh;
  overflow-y: scroll;
  background-color: #353353;
  color: white;
}

main {
  position: absolute;
  left: 287px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #353353;
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  color: #454360;
  background-color: #f9f9ff
}

.contenAbout {
  margin-top: -150px;
}

.about .aboutMe {
  background-color: white;
  padding: 30px;
  box-shadow: 0 5px 20px 0 rgba(69,67,96,.1);
}
