* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.listDecoration {
  list-style: none;
  margin-left: -32px;
}

.circleImgs {
  border-radius: 100%;
}

.iconsHome {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.flexColumsCenterTags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.allContent {
  display: flex;
  background-color: #353353;
}

.allHightScreen {
  height: 100vh;
}

.navegation {
  background-color: blue;
}

main {
  flex-grow: 1;
}

.home {
  background-color: tomato;
}


